{% extends "base.html" %}
{% block title %}Reservation Details{% endblock %}
{% block content %}
    <div>
    {% with reservation=object_list%}
        {% if reservation %}
            <h1>Reservation Details!</h1>
            <p>User: {{ request.user.username }}</p>
            <p>{{ reservation.desk.office.name }} {{ reservation.desk.number }}, {{ reservation.date | date:'d-m-y' }}</p>
            <p>Is confirmed: {{ reservation.confirmed | yesno:"Confirmed, Unconfirmed" }}</p>
            {% if not reservation.confirmed %}
            <button class="btn btn-warning btn-xs" onclick="location.href='{% url 'reserve_app:reservation_delete' reservation.id %}'" type="button">
                Cancel
            </button>
            <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'reserve_app:reservation_confirm' reservation.id %}'" type="button">
                Confirm
            </button>
            {% endif %}
        {% else %}
            <p>No reservation!</p>
        {% endif %}
    {% endwith %}
    </div>
{% endblock %}
